@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #db7f34;
  --secondary-color: #bccc2e;
  --tertiary-color: #f7f7f7;
}

/* ----------------------------------------
            global style
------------------------------------------ */
.section-title {
  font-size: 1.5rem;
  font-weight: 400;
}
.section-text {
  font-size: 1rem;
  font-weight: 400;
}
.section-heading {
  font-size: 2.5rem;
  font-weight: 500;
}
.hidden_scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* ----------------------------------------
            home page style
------------------------------------------ */

/* ----------------------------------------
            responsive style
------------------------------------------ */
